APP_NAME="SIABSoal SMPN 2 Tasikmalaya"
APP_ENV=production
APP_KEY=base64:GENERATE_DI_LOKAL_LALU_INPUT_DI_DASHBOARD
APP_DEBUG=false
APP_URL=https://domain-hosting-kamu
ASSET_URL=/
PORT=8000

LOG_CHANNEL=stderr
LOG_LEVEL=warning

DB_CONNECTION=mysql
DB_HOST=ISI_DARI_DASHBOARD_DATABASE
DB_PORT=4000
DB_DATABASE=ISI_DARI_DASHBOARD_DATABASE
DB_USERNAME=ISI_DARI_DASHBOARD_DATABASE
DB_PASSWORD=ISI_DARI_DASHBOARD_DATABASE
MYSQL_ATTR_SSL_CA=/etc/ssl/certs/ca-certificates.crt

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_SECURE_COOKIE=true

MAIL_MAILER=log

RUN_MIGRATIONS=true
RUN_SEEDERS=false
CACHE_CONFIG=true
