APP_NAME="SIABSoal SMPN 2 Tasikmalaya"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://siabsoal-smpn-2-tasikmalaya.koyeb.app
ASSET_URL=/
PORT=8000

LOG_CHANNEL=stderr
LOG_LEVEL=warning

DB_CONNECTION=mysql
DB_HOST=
DB_PORT=4000
DB_DATABASE=test
DB_USERNAME=
DB_PASSWORD=
MYSQL_ATTR_SSL_CA=/etc/ssl/certs/ca-certificates.crt

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_SECURE_COOKIE=true

MAIL_MAILER=log

RUN_MIGRATIONS=true
RUN_SEEDERS=true
CACHE_CONFIG=true
